@import url('https://fonts.googleapis.com/css2?family=Maitree&family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

article,
aside,
footer,
header,
nav,
section {
  display: block
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

figcaption,
figure,
main {
  display: block
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: inherit
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

dfn {
  font-style: italic
}

mark {
  background-color: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

audio,
video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

img {
  border-style: none
}

svg:not(:root) {
  overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: .35em .75em .625em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  display: inline-block;
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details,
menu {
  display: block
}

summary {
  display: list-item
}

canvas {
  display: inline-block
}

template {
  display: none
}

[hidden] {
  display: none
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* 5da9c2 */

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

img {
  background-image: url("https://islandpress.org/sites/default/files/default_book_cover_2015.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

a {
  color: black;
}

p {
  line-height: 1.5;
}

header {
  background-color: #5da9c2;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  height: 100px;
}

.appHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

header h1 {
  font-size: 4rem;
  font-family: 'Libre Barcode 128 Text', cursive;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  border: 4px solid #008ac9;
}

.instructionsContainer h2 {
  text-decoration: underline;
}

.cookie {
  position: absolute;
  bottom: 25px;
  right: 30px;
  font-size: 4rem;
  color: rgba(195, 155, 119, 0.5);
}

.searchButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  height: 36px;
}

input[type="text"] {
  width: 300px;
  padding: 15p2;
  border-radius: 5px;
  border: 4px solid #008ac9; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.2),
            0 0 16px rgba(0,0,0,0.2); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.2),
            0 0 16px rgba(0,0,0,0.2); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.2),
            0 0 16px rgba(0,0,0,0.2); 
    background: rgba(255,255,255,1);
    margin: 0 0 10px 0;
}

.instructionsInnerContainer {
  position: relative;
}

input[type="submit"], .instructionsButton2 {
  display: inline-block;
  border: none;
  padding: 10px 15px;
  margin: 20px 5px;
  text-decoration: none;
  background: none;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  text-align: center;
  transition: 250ms ease-in-out;
  transform: 150ms ease;
  border-radius: 5px;
  background: #008ac9;
}

.instructionsContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("https://www.indiewire.com/wp-content/uploads/2021/05/AdobeStock_349950986.jpeg?w=780");
  filter: blur(2px);
  -webkit-filter: blur(2px);
  position: absolute;
  z-index: -20;
  background-size: cover;
}

.instructionsInnerContainer {
  width: 50vw;
  background-color: white;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: 4px solid #ace8cd;
}

.instructionsDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.instructionsButton {
  padding: 10px 25px;
  display: inline-block;
  border: none;
  margin: 20px 0 10px;
  text-decoration: none;
  background: none;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  text-align: center;
  transition: 250ms ease-in-out;
  transform: 150ms ease;
  border-radius: 5px;
  background: #008ac9;
}

.mainContainer {
  min-height: calc(100vh - 100px);
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";
}

.mediaContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "poster description"
}

.poster {
  grid-area: poster;
}

.description {
  grid-area: description;
  text-align: left;
}

.one,
.two {
  padding: 40px 40px 0;
  margin-bottom: 40px;
}

h2 {
  font-size: 2em;
  font-family: 'Maitree', serif;
  margin-top: 0;
}

.one img,
.two img {
  width: auto;
  height: 100%;
  min-height: 350px;
  max-width: 250px;
}

.imageContainer {
  position: relative;
  width: 300px;
  height: 350px;
  display: flex;
  justify-content: center;
}

.voteIcon {
  position: absolute;
  right: 25px;
  bottom: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ace8cd;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #261870;
  border: 2px solid #261870;
  padding: 40px;
}

.objectDescriptions {
  margin-top: 50px;
  width: 80%;
  text-align: left;
  height: 200px;
}

.three {
  background-color: green;
  grid-column-start: 1;
  grid-column-end: 3;
  min-height: 150px;
  position: relative;
}

.one {
  border-right: 2px solid black;
}

footer {
  text-align: center;
  background-color: #261870;
  padding: 10px;
}

footer p {
  color: #fff;
  margin: 0;
}

footer a {
  color: #fff;
}

.blankDiv {
  height: 100px
}

.noBook {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

.failed {
  text-align: center;
  margin: 50px 0;
  min-height: calc(100vh - 240px);
}

.failed img {
  width: 25%;
  height: auto;
  max-width: 330px;
  min-width: 125px;
}

.winnerIcon {
  width: 150px;
  height: auto;
  position: absolute;
  top: -70px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  padding: 15px;
}

.winnerIcon img {
  width: 100%;
  height: auto;
  min-height: 0;
  background: none;
}

.searchHistoryContainer {
  background-color: #5da9c2;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23261870' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  border: 8px solid #261870;
  border-bottom: none;
  width: 75vw;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 350px;
  margin: 0 auto;
  max-height: 500px;
  overflow-y: auto;
  padding: 10px;
	-webkit-animation: scale-up-bottom 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-bottom 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-29 12:50:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-bottom
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}
@keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}

.iconify {
  font-size: 6rem;
  position: absolute;
  top: 40px;
  right: -35px;
}

.searchItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.searchItems button {
  width: 15%;
  display: inline-block;
  border: none;
  text-decoration: none;
  background: transparent;
  height: auto;
  cursor: pointer;
  /* margin: 25px; */
}

.searchItems button img {
  width: 100%;
  height: auto;
  /* margin: 25px; */
}

.closeButton {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: transparent;
  height: auto;
  cursor: pointer;
  margin: 10px;
  position: absolute;
  top: -10px;
  right: -10px;

}

.closeButton i, 
.clearHistory i {
  font-size: 3rem;
  color: #261870;
  margin: 5px;
}

.clearHistory {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: transparent;
  height: auto;
  cursor: pointer;
  margin: 10px;
  position: absolute;
  bottom: 0;
  right: -10px;
}

.hidden {
  display: none;
}

@media(max-width: 1100px) {
  header h1 {
    font-size: 3rem;
    /* margin-bottom: 5px; */
  }

  .mainContainer {
    display: flex;
    flex-direction: column;
  }

  header {
    height: auto;
  }
  .appHeader {
    display: flex;
    flex-direction: column;
    height: unset;
  }

  input[type="submit"], .instructionsButton2 {
    margin-top: 0;
  }

  .blankDiv {
    height: 155px
  }

  .one {
    border-right: none;
  }

  .failed {
    text-align: center;
    margin: 50px 0;
    min-height: calc(100vh - 300px);
  }
}

@media(max-width: 900px) {
  .instructionsInnerContainer {
    width: 85%;
  }

  .searchItems button {
    width: 30%;
  }
}

@media(max-width: 625px) {
  header {
    position: static;
  }

  .searchButtons {
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input[type="text"] {
    min-width: 100%;
  }

  input[type="submit"] {
    margin: 10px;
  }

  .mediaContainer {
    display: flex;
    flex-direction: column;
  }

  .poster {
    margin: 0 auto;
  }

  h2 {
    margin-top: 30px;
  }

  .voteIcon {
    right: 0px;
    top: -30px;
  }

  .searchItems button {
    width: 40%;
  }

  .searchHistoryContainer {
    width: 85vw;
  }
}

@media(max-width: 450px) {
  .imageContainer {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .voteIcon {
    position: static;
    margin-top: 15px;
  }

  .instructionsInnerContainer {
    width: 100%;
  }

  .closeButton, .clearHistory{
    right: -15px
  }
}